:root {
    --font-family: "Dosis", arial, sans-serif;
    --font-family-body: arial, sans-serif;
    --background-color: #ffffff;
    --subreddit-hover-bg-color: #f2f2f2;
    --post-card-bg-color: #f2f2f2;
}

body {
    overflow-x: hidden;
}

/* Scrollbar styles */
::-webkit-scrollbar {
    padding: 0 1rem;
    height: 0.45rem;
}

::-webkit-scrollbar-track {
    background: #e5e5e5;
}

::-webkit-scrollbar-thumb {
    background-color: #a2a2a2;
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #828282;
    cursor: pointer;
}